/*homepage*/

/*navbar*/
.nav-container{
    display:flex;
    padding: 10px 10px;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-decoration:none;
}

.nav-container .right-links{
    padding-height: 5px. 15px;
}

.nav-container .central-links{
    justify-self:center
}

.nav-container a{
    color: #50c59b;
    font-family:'Trebuchet MS', sans-serif;
    font-size:20px;
    text-decoration:none;
    border-radius:25px;
    padding:10px 12.5px 12.5px;
    text-align:center
}

.nav-container a:hover{
    transition: 0.4s;
    transition-property:background-color, color;
    color: #ffffff;
    background-color:#50c59b;
}

/*body*/
.cooltree{
    height: 30%;
    width: 100%;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 0px;
    object-fit:cover;
    object-position:25%, 50%;
}

.homepage-body{
    margin-top:275px;
    display:flex;
    flex-direction:center;
    justify-content:center;
    flex-direction:column
}

.homepage-body h1{
    color: #8cb8a7;
    font-family:'Trebuchet MS', sans-serif;
    font-size:150%;
    text-align:center;
}

.homepage-text{
    margin-left:15%;
    margin-right:15%;
}
/*hello*/
.homepage-text p{
    text-align:center;
    color: #8cb8a7;
    font-family:'Trebuchet MS', sans-serif;
    font-size:15px;
    line-height: 25px;
}