/*homepage*/

/*navbar*/
.nav-container{
    display:flex;
    padding: 10px 10px;
    flex-direction:row;
    align-items:center;
    text-decoration:none;
}

.nav-container .navbar-links{
    padding: 5px 10px;
    margin-left:auto;
}

.nav-container a{
    color: #50c59b;
    font-family:'Trebuchet MS', sans-serif;
    font-size:20px;
    text-decoration:none;
    border-radius:25px;
    padding:10px 12.5px 12.5px;
    text-align:center
}

.nav-container a:hover{
    transition: 0.4s;
    transition-property:background-color, color;
    color: #ffffff;
    background-color:#50c59b;
}

/*body*/
.cooltree{
    height: 435px;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 0px;
    object-fit:cover;
    object-position:25% 25;
}

.h1{
    color: #0c59b;
}