/*homepage*/

/*navbar*/
.nav-container{
    display:flex;
    padding: 10px 10px;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    text-decoration:none;
}

.nav-container .right-links{
    padding-height: 5px. 15px;
}

.nav-container .central-links{
    justify-self:center;

}

.nav-container a{
    color: #50c59b;
    font-family:'Trebuchet MS', sans-serif;
    font-size:20px;
    text-decoration:none;
    border-radius:25px;
    padding:10px 12.5px 12.5px;
    text-align:center
}

.nav-container a.nav-button:hover::before{
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    height
}

/*body*/
.banner{
    height: 30%;
    width: 100%;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 0px;
    object-fit:cover;
    object-position:25%, 50%;
}

.page-body{
    margin-top:275px;
    display:flex;
    flex-direction:center;
    justify-content:center;
    flex-direction:column
}

.page-text{
    margin-left:15%;
    margin-right:15%;
}
/*text*/
h2{
    /*quotes*/
    color: #8cb8a7;
    font-family:'Trebuchet MS', sans-serif;
    font-size:150%;
    text-align:center;
}

p{
    text-align:center;
    color: #8cb8a7;
    font-family:'Trebuchet MS', sans-serif;
    font-size:15px;
    line-height: 25px;
}